@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin: 5rem 20rem;
    font-family: 'Lucida Sans', sans-serif;
    text-align: left;
    line-height: 1.6;
    background-color:  #ffcccc;
    color: #fff;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

@media(max-width: 500px){
    body{
        margin: 2rem 5rem;
    }
}
